:root {
  --fonte: 'Montserrat', sans-serif;
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #E2E2E2;
}


body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--blanco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
